<div class="container mt-5">
    <h1 class="fw-bold bg-light text-dark d-flex justify-content-center">Welcome To {{name}}</h1>
    <hr>
    <div class="container">
        <div class="row">
            <img class="placeImg" src="{{placeImg}}" alt="{{title}}">
            <h3>{{name}}</h3>
            <h4>Type: {{type}}</h4>

            {{!-- Comments --}}
            <h5>Comments:</h5>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="/comment/new-comment/{{id}}" method="post">
                        <textarea class='form-control' name="description" placeholder="Add a Comment"></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </div>
                    </form>
                </div>
            </div>

            {{!-- --}}

            <div>
                <h5>Community Comments:</h5>
                {{#each comment}}

                <ul>
                    {{owner.username}}
                    {{description}}

                </ul>

                {{/each}}
            </div>


            <div>
                <a href="/places/edit/{{id}}" class="btn btn-dark">Edit Place</a>
            </div>
        </div>
        <form action="/places/delete/{{id}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>





    </div>