<div class="container mt-5 mb-5">
    <h1> Edit the Place!</h1>
</div>

<div class="container">
    <form action="/places/edit/{{_id}}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group mb-2">
                <label for="name">How is this place called?</label>
                <input type="text" class="form-control" id="name" name="name" value="{{name}}">
            </div>

            <div class="form-group mb-2">
                <label for="inputState">This place is perfect for...</label>
                <select id="inputState" class="form-control" name="type">
                    <option>Focusing</option>
                    <option>Nerworking</option>
                    <option>Focus&Chill</option>
                </select>
            </div>

            <div class="form-row mb-2">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="type">Latitude</label>
                        <input type="text" class="form-control" id="type" name="" value="{{location.coordinates.[0]}}">
                    </div>
                    <div class="form-group col-6">
                        <label for="type">Longitude</label>
                        <input type="text" class="form-control" id="type" name="" value="{{location.coordinates.[1]}}">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="placeImg" class="form-label">Add a Place Picture</label>
                <input type="file" class="form-control" id="placeImg" name="imageField" value="{{placeImg}}">
                <div class="form-text">Paste the URL of the picture you want to use.</div>
            </div>
            <div class="mb-3 mb-2">
                <label for="description" class="form-label">Add a small description:</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                <div class="form-text">You can change or add to this later.</div>

            </div>

            <button type="submit" class="btn btn-dark">Edit</button>

    </form>

</div>