<div class="container">
    <h1>Nomads</h1>
    {{#each nomads}}
    <div>
        <p>{{username}}</p>
        <img src="{{profileImg}}" alt="{{title}}">
        <p>{{bio}}</p>
        <a href="nomads/{{id}}" class="btn btn-outline-success">Información del Nomada</a>
        <br>
    </div>
    <br>
    {{/each}}
</div>