<div class="container">

    <h1>Explore The best Places On the Map</h1>


    <div class="mb-3">

        <h3>Filter</h3>

        <a href="?type=focus" class="btn btn-info">Focus</a>
        <a href="?type=networking" class="btn btn-info">Network</a>
        <a href="?type=chill" class=" btn btn-info">Chill</a>

    </div>

    <figure id="exploreMap"></figure>

    <a href="/" class="btn btn-dark">Back to Homepage</a>
    <a href="/places/create" class="btn btn-dark">Add a New Place!</a>
</div>


<div>
    <h1>Place list</h1>


    {{#each places}}

    <h3>{{name}}</h3>
    <h4>Type: {{type}}</h4>
</div>
<div>
    <a href="/places/edit/{{id}}" class="btn btn-dark">Edit Place</a>


    <form action="/user/{{../user}}/fav-places/{{id}}" method="POST">
        <input type="submit" value="Save Place" class="btn btn-info">
    </form>

</div>

</div>

{{/each}}
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/exploreMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJjUzeG0WQ_oEe9YaRoUNWI-lhWdPB4oE&callback=initMap"></script>

<ul id="places"></ul>